@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');



body {
    background: -webkit-linear-gradient(90deg,
            rgba(85, 144, 189, 1) 0%,
            rgba(108, 183, 240, 1) 54%,
            rgba(182, 216, 242, 1) 82%);
    background: -o-linear-gradient(90deg,
            rgba(85, 144, 189, 1) 0%,
            rgba(108, 183, 240, 1) 54%,
            rgba(182, 216, 242, 1) 82%);
    background: -moz-linear-gradient(90deg,
            rgba(85, 144, 189, 1) 0%,
            rgba(108, 183, 240, 1) 54%,
            rgba(182, 216, 242, 1) 82%);
    background: linear-gradient(90deg,
            rgba(85, 144, 189, 1) 0%,
            rgba(108, 183, 240, 1) 54%,
            rgba(182, 216, 242, 1) 82%);

    margin: 0px !important;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Oswald", sans-serif;
}



.title {
    margin: 0;
    height: 50px;
    background-color: #34194c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #dfcada;
    text-transform: capitalize;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}

.card {
    position: relative;
    border-radius: 10px;
    height: 250px;
    background-image: url(img/forest2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #07476b; */
    z-index: 1;
}



.card2 {
    position: relative;
    margin: 0 8px 0px 8px;
    height: 110px;
    background-color: #022631;
    border-radius: 10px;
    z-index: 2;
    padding-top: 2px;
}

.idPokemon {
    margin-top: 2px;
    position: relative;
    height: 5px;
    color: white;
    letter-spacing: 1px;
}

.name {
    position: relative;
    height: 2px;
    color: white;
    text-transform: capitalize;
    font-style: italic;

}

.imgPoke {
    position: relative;
    margin-top: 5px;
    padding: 10px;
    background-color: #201628;

    width: 100px;
    height: 100px;
    border-radius: 50px;
    z-index: 3;
}

.divTypes {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.typePoke {
    width: 50%;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    border-radius: 8px;
    margin: 0;
    margin-right: 5px;
    margin-left: 5px;
}


 .divPokemonBuscado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 500px;
    border-radius: 50px;
    background-image: url(img/charizard.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    margin-bottom: 20px;
    box-shadow: 0 8px 10px 10px rgba(0, 0, 0, 0.5);
}



.imgPokemonBuscado{
    background-image: linear-gradient(to bottom,#fff,#fff);
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.5);
    width: 80px;
    height: 80px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid;
}

.detallePokemonBuscado{
    
    margin: 0 8px 0px 8px;
    width: 250px;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #fff;
    margin-top: 10px;
    box-shadow: inset -2px 7px 15px 5px rgba(0, 0, 0, 0.5);
}

.propiedadesPokemonBuscado{
    width: 700px;
    height: 200px;
    margin: 0 8px 0px 8px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0px -5px 10px 10px rgba(0, 0, 0, 0.5);
}
