@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

html{
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),auto;
}
body {
   
    background: -webkit-linear-gradient(90deg,
            rgba(85, 144, 189, 1) 0%,
            rgba(108, 183, 240, 1) 54%,
            rgba(182, 216, 242, 1) 82%);
    background: -o-linear-gradient(90deg,
            rgba(85, 144, 189, 1) 0%,
            rgba(108, 183, 240, 1) 54%,
            rgba(182, 216, 242, 1) 82%);
    background: -moz-linear-gradient(90deg,
            rgba(85, 144, 189, 1) 0%,
            rgba(108, 183, 240, 1) 54%,
            rgba(182, 216, 242, 1) 82%);
    background: linear-gradient(90deg,
            rgba(85, 144, 189, 1) 0%,
            rgba(108, 183, 240, 1) 54%,
            rgba(182, 216, 242, 1) 82%);
          
    margin: 0px !important;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Oswald", sans-serif;


}



.title {
    margin: 0;
    height: 50px;
    background-color: #34194c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #dfcada;
    text-transform: capitalize;
}

.container {
    display: grid;
  
    grid-template-columns:repeat(3,1fr);
    gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .container {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }

.card {
    position: relative;
    border-radius: 10px;
    height: 250px;
    background-image: url(img/forest2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #07476b; */
    z-index: 1;
}



.card2 {
    position: relative;
    margin: 0 8px 0px 8px;
    height: 110px;
    background-color: rgba(31, 33, 34, 0.8);
    border-radius: 10px;
    z-index: 2;
    padding-top: 2px;
}

.idPokemon {
    margin-top: 2px;
    position: relative;
    height: 5px;
    color: white;
    letter-spacing: 1px;
}

.name {
    position: relative;
    height: 2px;
    color: white;
    text-transform: capitalize;
    font-style: italic;
}

.imgPoke {
    position: relative;
    margin-top: 5px;
    padding: 10px;
    
    background-color:rgba(31, 33, 34, 0.8);

    width: 100px;
    height: 100px;
    border-radius: 50px;
    z-index: 3;
}

.divTypes {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.typePoke {
    width: 50%;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    border-radius: 8px;
    margin: 0;
    margin-right: 5px;
    margin-left: 5px;
}


 .divPokemonBuscado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;            
    width: 800px;
    height: 500px;
    border-radius: 50px;
    background-image: url(img/charizard.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    margin-bottom: 20px;
    box-shadow: 0 8px 10px 10px rgba(0, 0, 0, 0.5);
}



.imgPokemonBuscado{
    background-image: linear-gradient(to bottom,#fff,#fff);
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.5);
    width: 80px;
    height: 80px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid;
}

/* PRIMER DIV DEL POKEMON BUSCADO */
.detallePokemonBuscado{
    display: grid;
    grid-template-rows:25px 50px 20px;
    width: 250px;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #fff;
    box-shadow: inset -2px 7px 15px 5px rgba(0, 0, 0, 0.5);
}

/* SEGUNDO DIV DEL POKEMON BUSCADO */
.propiedadesPokemonBuscado{
    width: 700px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0px -5px 10px 10px rgba(0, 0, 0, 0.5);
}

/* INPUT PARA BUSCAR EL POKEMON */
.buscarPokemon{
    text-align: center;
    width: 250px;
    height: 30px;
    font-size: 12px;
    transition: 0.5seg ;
    
}


.buscarPokemon:hover{
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.buscarPokemon:focus{
	background-color: #e8e8f8;
}


.buscarPokemon::placeholder{
	transition: all 0.5s ease-in-out;
}
.buscarPokemon:focus::placeholder{   
	font-size: 15px;
}

/* NOMBRE DEL POKEMON BUSCADO */
.nombrePokemon{
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 18px;
}

/* ID DEL POKEMON BUSCADO */
.idPokemonBuscado{

    color: #000000;
    
}

/* div que muestra mensaje de que no se encontro el pokemon */
.divMensaje{    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    grid-column: 2;
    background-image: url(img/notfound.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
/* mensaje de que no se encuentra el pokemon */
.mensaje{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #fff;
    width: 400px;
    height: 50px;
}

.propiedadesPokemonBuscado{
  display: flex;
  justify-content: center;
  align-items: center;
}

.divContainerPropiedades{
    display: grid;
    grid-template-columns: repeat(3,220px);     
}

.divTamaño,.divStats,.divMove{
    width: 180px;
    height: 170px;
    background-color:rgba(255, 255, 255, 0.4);
    justify-self: center;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    
}



.divStats{
    width: 250px;
    display: grid;
    grid-template-rows: repeat(6,12px);
    gap: 10px;
}



.divStats .titleStats{
    grid-row: 1 / span 1;
    /* grid-column: 1 / span 2; */
}

.divMove {
    display: grid;
    grid-template-rows: repeat(4,10px);
    gap: 15px;
}

.divTamaño{
    display: grid;
    grid-template-rows: repeat(2,15px);
    gap:15px;
}

.titleMove,.titleStats,.titleTamaño{ 
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #c7b6c4;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-weight: bold;
}